.card {
    container-type: inline-size;
    container-name: lottery-card;
    aspect-ratio: 1 / 1;
    width: 100%;
    background-color: var(--color-bg-secondary);
    border: 0.2rem solid var(--color-primary);
    border-radius: 1.2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.word {
    color: var(--color-text);
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    text-wrap: balance;

    /* --- CAMBIO CLAVE AQUÍ --- */
    /* Esta regla es más 'agresiva'. Romperá la palabra en CUALQUIER letra si es necesario para que no se desborde. Es nuestro seguro definitivo. */
    word-break: break-all;
}

.marked {
    background-color: var(--color-primary);
    border-color: var(--color-accent);
}

.marked .word {
    color: white;
}

.highlight {
    animation: glow 1s 2; /* La animación 'glow' dura 1s y se repite 2 veces*/
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--glow-color), 0 0 20px var(--glow-color), 0 0 25px var(--glow-color);
        transform: scale(1.05);
    }
    50% {
        box-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px var(--glow-color), 0 0 45px var(--glow-color), 0 0 55px var(--glow-color);
        transform: scale(1.1);
    }
}

/* Hacemos nuestras queries un poco más sensibles, para que se activen antes */
@container lottery-card (max-width: 90px) {
    .word {
        font-size: 1.4rem;
    }
}

@container lottery-card (max-width: 75px) {
    .word {
        font-size: 1.2rem;
    }
}